// Variables
$sidenote-red: #F85E5E;
$landing-page-background: rgb(25,25,25);

html {
  scroll-behavior: smooth;
  }

nav {
  .right {
    padding-right: 5%;
  }
}
  
#landingPage {
  background-color: $landing-page-background;  
  .container {
    height: 100vh;
  }
}

.row {
  width: 100%;
  font-family: 'Lato', sans-serif;
    
  #loginBlock {
    margin-top: 5%;
  }
}
  
.row h3 {
  font-weight: 800;
  color: #ffffff;
}

  input.sign-in, input.sign-up, input.reset-login {
    color: #ffffff;
    &:focus {
      border-bottom: 1px solid $sidenote-red !important;
      box-shadow: 0 1px 0 0 $sidenote-red !important
    }
  }
  
  [id="sign-in"]:checked ~ input.sign-in,
  [id="sign-up"]:checked ~ input.sign-up,
  [id="reset-login"]:checked ~ input.reset-login {
    max-height: 40px;
    margin: 15px 0px;
  }
  
  fieldset {
    border: none;
    color: #ffffff;
  }
  
  img {
    width: 250px;
    height: 250px;
  }
  
  label {
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    width: calc(100% / 3 - 4px);
  }
  
  label[for="sign-in"],
  label[for="sign-up"],
  label[for="reset-login"] {
    font-size: 15px;
    font-weight: 800;
    padding: 0 20px 20px 0;
  }
  
  [id="sign-in"]:checked ~ label[for="sign-in"],
  [id="sign-up"]:checked ~ label[for="sign-up"],
  [id="reset-login"]:checked ~ label[for="reset-login"] {
    color: $sidenote-red;
    font-style: italic;
  }
  
  [id="sign-in"]:checked ~ label[for="sign-in"]::after,
  [id="sign-up"]:checked ~ label[for="sign-up"]::after,
  [id="reset-login"]:checked ~ label[for="reset-login"]::after {
    content: '';
    width: 30%;
    position: absolute;
    left: 28px;
    bottom: -0.5px;
    border: 0.5px solid $sidenote-red;
  }
  
  [id="sign-in"]:checked ~ .button::before {
    content: "Sign In";
  }
  
  [id="sign-up"]:checked ~ .button::before {
    content: "Sign Up";
  }
  
  [id="reset-login"]:checked ~ .button::before {
    content: "Reset Password";
  }
  
.button {
    width: 250px;
    padding: 3px;
    height: 40px;
    border-radius: 0;
    color: white;
    border: 1.5px solid white;
    background: transparent;
    font-weight: 200;
    font-style: italic;
}
  
.button::before {
    font-size: 16px;
}
  
.button:hover {
    color: $sidenote-red;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-color: $sidenote-red;
    cursor: pointer;
}

// Navbar
nav
{
  // adding to and overriding parts of materialize's default navbar styling
  background-color: $landing-page-background !important;
  box-shadow: none !important;

  ul li.active
  {
    background-color: rgba(0,0,0,0) !important;

    & a:hover
    {
      background-color: rgba(0,0,0,0) !important;
    }
  }

  ul li.active a
  {
    color: $sidenote-red;
  }

  ul li:not(.active) a:hover
  {
    background-color: rgba(0,0,0,0) !important;
    transform: translateY(-2.5px);
    transition: ease 350ms;
    color: $sidenote-red;
  }

  a
  {
    font-size: 16px !important;
  }
}

/* ABOUT PAGE */
#aboutPage {
  font-family: 'Lato', sans-serif;
  margin: 15vh 0 15vh 0;
  h3 {
    padding: 25px 0 10px 0;
  }
  .valign-wrapper {
    flex-wrap: wrap;
  }
  .col {
    padding-top: 5px;
  }
}