<html>
    <head>
        <!-- this break the color after typing in input
        <meta name="theme-color" content="{{ theme.browser }}">
        <meta name="msapplication-navbutton-color" content="{{ theme.browser }}">
        <meta name="apple-mobile-web-app-status-bar-style" content="{{ theme.browser }}">-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="">
        {% if title %}
        <title>{{ title }} - Sidenote</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
        <meta name="description" content="Sidenote for everyone">
        <meta name="author" content="Tai Huynh">
        <style>
            body {
                touch-action: manipulation;
            }
        </style>
    </head>
    <body class="{{ theme.background }}" id="data-list">
  <div id="menu">
  <nav id="navMenu" class="menu {{ theme.nav }} {{ theme.font_header }}" data-target="menu" style="z-index: 500">
    <div class="nav-wrapper">
    {% if title == "Home" %}
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="large material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="javascript:void(0)" onclick="$('.sidenav').sidenav('open')" class="waves-effect waves-light"><i class="material-icons">menu</i></a></li>
        <li><a href="{{ url_for('newnote') }}" class="waves-effect waves-light"><i class="material-icons">brush</i></a></li>
        <li><a href="{{ url_for('newnote') }}" class="waves-effect waves-light"><i class="material-icons">event_available</i></a></li>
        <li><a href="{{ url_for('newnote') }}" class="waves-effect waves-light"><i class="material-icons">event_note</i></a></li>
      </ul>
      
      <form autocomplete="off" class="right">
        <div class="input-field">
          <input id="search" type="search" class="search" required>
          <label class="label-icon" for="search"><i class="material-icons left">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      
    {% elif title == "Note" %}
      <ul class="left">
        <li><a class="waves-effect waves-light modal-trigger" href="#modalSave" class="left"><i class="large material-icons">arrow_back</i></a></li>
      </ul>
      <ul class="right">
        <li><a href="javascript:void(0)" onclick="submitForm()" class="waves-effect waves-light"><i class="material-icons">save</i></a></li>
        <li><a class="waves-effect waves-light modal-trigger" href="#modalDelete"><i class="material-icons">delete</i></a></li>
        <li><a class="waves-effect waves-light modal-trigger" href="#modalShare"><i class="material-icons">share</i></a></li>
        <li><a class="waves-effect waves-light"  onclick="editorCmd('insertOrderedList')"><i class="material-icons">format_list_bulleted</i></a></li>
        <li><input class="tool-items fa fa-file-image-o" type="file" accept="image/*" id="file" style="display: none;" onchange="getImage()" accept="image/*;capture=camera">
        <label for="file" class="">
            <a class="waves-effect waves-light"  onclick="editorCmd('image')"><i class="material-icons">image</i></a>
        </label></li>
      </ul>
       <!--href="/share/{% if post.id  %}{{ post.id }}/2 {% endif %}" -->
      <div id="modalDelete" class="modal">
        <div class="modal-content center">
          <h4>Delete</h4>
          <p>Delete this note?</p>
        </div>
        <div class="modal-footer">
            <a href="/delnote/{% if post.id  %}{{ post.id }}{% endif %}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">No</a>
        </div>
      </div>
      
      <div id="modalSave" class="modal">
        <div class="modal-content center">
          <h4>Save Note</h4>
            Would you like to save first?
        </div>
        <div class="modal-footer">
            <a href="#!" onclick="submitForm()" class="waves-effect waves-green btn-flat">Save</a>
            <a href="#!" onclick="history.back()" class="waves-effect waves-red btn-flat">No</a>
            <a href="#!" class="modal-close waves-effect waves-yellow btn-flat">Cancel</a>
        </div>
      </div>
      
      <div id="modalShare" class="modal">
        <div class="modal-content">
          <h4>Sharing Note</h4>
            <div class="input-field">
              <input id="shareName" name="shareName" type="text" class="{{ theme.font }}">
              <label for="shareName">Email to share with:</label>
            </div>
            <p> <label>
                <input id="writeAccess" type="checkbox" 
                    {% if post.writeAllowed  %}checked{% endif %} 
                    {% if post.id and not post.owner  %}disabled="disabled"{% endif %} 
                />
                <span>Allow other to edit this note.</span>
            </label></p>
        </div>
        <div class="modal-footer">
            <a href="#!" onclick="shareNote()" class="modal-close waves-effect waves-green btn-flat">Share</a>
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
      </div>
    {% elif title == "View" %}
      <ul class="left">
        <li><a class="waves-effect waves-light" href="#!" onclick="history.back();" class="left"><i class="large material-icons">arrow_back</i></a></li>
      </ul>
    {% endif %}
    </div>
  </nav>

    <ul id="slide-out" class="sidenav {{ theme.background }}">
    <li><div class="user-view">
        <div class="background">
            <img src="{{url_for('static', filename='images/office.jpg')}}">
        </div>
        <a href="#user"><img src="{{url_for('static', filename='images/yuna.jpg')}}" class="circle"></a>
        <p><a href="#name"><span class="white-text name">{{ current_user.firstname }} {{ current_user.lastname }}</span></a>
        <br>
    </div></li>
    {% if current_user.is_authenticated %}
    <li><a class="subheader {{ theme.font }}">Menu</a></li>
    <li><a href="{{ url_for('index') }}" class="waves-effect waves-light {{ theme.font }}"><i class="material-icons {{ theme.font }}">event_note</i>My Notes</a></li>
    <li><a href="{{ url_for('shared') }}" class="waves-effect waves-light {{ theme.font }}"><i class="material-icons {{ theme.font }}">screen_share</i>Shared to me</a></li>
    
    <li><div class="divider"></div></li>
    
    <li><a href="{{ url_for('changetheme') }}" class="waves-effect waves-light {{ theme.font }}"><i class="material-icons {{ theme.font }}">brightness_6</i>{{ theme.switch }}</a></li>
    <li><a href="{{ url_for('index') }}" class="waves-effect waves-light {{ theme.font }}"><i class="material-icons {{ theme.font }}">settings</i>Setting</a></li>
    <li><a href="{{ url_for('logout') }}" class="waves-effect waves-light {{ theme.font }}"><i class="material-icons {{ theme.font }}">power_settings_new</i>Logout</a></li>
    {% endif %}
    </ul>

    {% block content %}{% endblock %}
    
    {% if title == "Home" %}<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>{% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        options = {
            draggable: true,
            preventScrolling: true
        }
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
        {% if title == "Note" %}
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
        {% endif %}
      });
      
      $(document).ready(function(){
        $('.sidenav').sidenav();
        {% if title == "Note" %} $('.modal').modal(); {% endif %}
        
        menu = $('.menu');
        target = $('#' +menu.attr("data-target"));
        
        menu.pushpin({
          top: target.offset().top
        });
      });
    </script>
    </body>
    
</html>