<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <!-- Custom Written CSS -->
  <link href="../static/welcome.css" type="text/css" rel="stylesheet" />
  <!-- Import Material Google Icon Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Materialize.css CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Sidenote: Welcome!</title>
</head>

<body>
  <div class="container">

    <div class="row valign-wrapper">
      <!-- left half -->
      <div class="center col s12 m6">
        <h3 class=""><i>Welcome to Sidenote</i></h3>
        <img src="../static/images/logo_transparent.png">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
          Tellus at urna condimentum mattis pellentesque id nibh tortor. Proin nibh nisl condimentum id venenatis. Eu
          non
          diam
          phasellus vestibulum lorem sed risus. Elementum facilisis leo vel fringilla est ullamcorper.
        </p>
        <div class="">
          <a href=""><button class="">Learn More</button></a>
        </div> -->
      </div>

      <!-- right half -->
      <div class="col s12 m6">
        <div class="center-align">
          <form method="post" action="" novalidate>
            <fieldset>
              <!-- the value attribute will be sent to the server-->
              <input id="sign-in" type="radio" name="login-option" value="sign-in" checked />
              <input id="sign-up" type="radio" name="login-option" value="sign-up" />
              <input id="reset-login" type="radio" name="login-option" value="reset-login" />

              <!-- radio options and their labels-->
              <label for="sign-in">Sign In</label>
              <label for="sign-up">Sign Up</label>
              <label for="reset-login">Reset</label>

              <!-- the name attribute will also be sent to the server later on-->
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class="">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}

              {{ form.hidden_tag() }}
              {{ form.firstname(class="sign-up",  placeholder="First Name") }}
              {% for error in form.firstname.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              {{ form.lastname(class="sign-up",  placeholder="Last Name") }}
              {% for error in form.lastname.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              {{ form.email(class="sign-in sign-up reset-login", placeholder="E-mail") }}
              {% for error in form.email.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              {{ form.password(class="sign-in sign-up",  placeholder="Password") }}
              {% for error in form.password.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              {{ form.password2(class="sign-up",  placeholder="Repeat Password") }}
              {% for error in form.password2.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              <br>{{ form.submit(class="button") }}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--start of Script insertions -->
  <!-- Custom JS written by Brian -->
  <script src="../static/welcomeFadeInAnimation.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--inserting jQuery from the Google CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>