<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Custom Written CSS -->
  <link href="{{url_for('static', filename='welcome.css')}}" type="text/css" rel="stylesheet" />
  <!-- Import Material Google Icon Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Materialize.css CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Sidenote: Welcome!</title>
</head>

<body>
  <div class="container">

    <div class="row valign-wrapper">
      <!-- left half -->
      <div class="center col s11 m6">
        <h3 class=""><i>Welcome to Sidenote</i></h3>
        <img src="../static/images/logo_transparent.png">

      </div>

      <!-- right half -->
      <div class="col s11 m6">
        <div class="center-align">
          <form method="post" action="" novalidate>
            <fieldset>
              <!-- the value attribute will be sent to the server-->
              <input id="sign-in" type="radio" name="login-option" value="sign-in" checked />
              <input id="sign-up" type="radio" name="login-option" value="sign-up" />
              <input id="reset-login" type="radio" name="login-option" value="reset-login" />

              <!-- radio options and their labels-->
              <label for="sign-in">Sign In</label>
              <label for="sign-up">Sign Up</label>
              <label for="reset-login">Reset</label>

              <!-- the name attribute will also be sent to the server later on-->
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class="">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}

              {{ form.hidden_tag() }}
              {{ form.firstname(class="sign-up",  placeholder="First Name") }}
              {% for error in form.firstname.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              {{ form.lastname(class="sign-up",  placeholder="Last Name") }}
              {% for error in form.lastname.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              {{ form.email(class="sign-in sign-up reset-login", placeholder="E-mail") }}
              {% for error in form.email.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              {{ form.password(class="sign-in sign-up",  placeholder="Password") }}
              {% for error in form.password.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              {{ form.password2(class="sign-up",  placeholder="Repeat Password") }}
              {% for error in form.password2.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
              <br>{{ form.submit(class="button") }}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--start of Script insertions -->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--inserting jQuery from the Google CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Custom JS written by Brian -->
  <script src="{{url_for('static', filename='welcomeFadeInAnimation.js')}}"></script>
  <script>
    $(document).ready(function(){
        $('input[type=radio]').on('change', function() {
            displayNone();
            $('.'+$(this).val()).css('display','block');
        })
        
        function displayNone() {
            $('.sign-in, .sign-up, .reset-login').css('display','none');
        }
        
        // Hide all input fields
        displayNone();
        
        // Only show Sign-In class
        $('.sign-in').css('display','block');
    });
  </script>
</body>

</html>